<!-- Control de cantidad -->
<div class="quantity-control">
  <ion-button fill="clear" size="small" (click)="decreaseQuantity(product.id)"
    [disabled]="selectedQuantities[product.id] <= 1">
    <img class="icon" src="../../../../assets/media/cards/minus-icon.svg" name="remove" />
  </ion-button>

  <span class="quantity-display">{{ selectedQuantities[product.id] }}</span>

  <ion-button fill="clear" size="small" (click)="increaseQuantity(product.id)"
    [disabled]="selectedQuantities[product.id] >= product.stock">
    <img class="icon" src="../../../../assets/media/cards/plus-icon.svg" name="add" />
  </ion-button>
</div>