.quantity-control {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 14px;
  margin-top: 1.4rem;

  background-color: transparent;

  ion-button {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin: 0;
    border-radius: 12px;
    background: radial-gradient(
      77.98% 110.3% at 17.62% 34.98%,
      rgba(250, 235, 215, 0.5) 0%,
      rgba(148, 139, 127, 0.5) 100%
    );
    color: var(--icon-color);

    // Aplicar hover al contenedor
    &:active {
      transform: scale(0.96);
    }
  }

  .quantity-display {
    min-width: 40px;
    color: var(--text-soft-color, #818181);
    text-align: center;
    font-family: "Work Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    pointer-events: auto;
  }
}