<app-header-landing></app-header-landing>

<ion-content [fullscreen]="true" (ionScroll)="onContentScroll($event)" [scrollEvents]="true">
  <div class="container">
    <div class="container-main">
      <div class="container-text">
        <h1>El lujo está en <br> tus manos</h1>
        <h3>¿Estás listo para lo que se siente?</h3>
      </div>

      <div class="hero-button">
        <app-btn-cta></app-btn-cta>
      </div>

      <div class="cards-main"></div>
    </div>

    <div class="deco-line" [style.--scroll-progress]="scrollProgress"></div>

    <div class="container-banner">
      <div class="fondo-banner">
        <div class="container-content">
          <div>
            <img class="img" src="../../../assets/media/home/datafono-banner.png" alt="cardconi-nfc">
          </div>
          <div>
            <!-- <img class=".img" src="../../../assets/media/home/datafono-banner.png" alt="cardconi-nfc"> -->
          </div>
          <div>
            <!-- <img class=".img" src="../../../assets/media/home/datafono-banner.png" alt="cardconi-nfc"> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container-type-card">
      <h2>¿Qué tipo de tarjeta metálica buscas?</h2>

      <div class="type-cards">
        <div class="card" [class.volteada]="cardsHovered[0]" (mouseenter)="hoverCard(0, true)"
          (mouseleave)="hoverCard(0, false)">
          <div class="face front">

          </div>
          <div class="face back">
            <div class="fondo-back-card">
              <img src="../../../assets/media/home/fondo-back-card.svg" alt="fondo-back-card">
            </div>
          </div>
        </div>

        <div class="card" [class.volteada]="cardsHovered[1]" (mouseenter)="hoverCard(1, true)"
          (mouseleave)="hoverCard(1, false)">
          <div class="face front presentation">
            <p class="textPresentation"> Presentación </p>
          </div>
          <div class="face back presentation">
            <div class="fondo-back-card">
              <img src="../../../assets/media/home/fondo-back-card.svg" alt="fondo-back-card">
            </div>
            <p class="textPresentation"> Ver diseños </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-reviews">
      <h2>Reseñas</h2>

      <div class="review-cards-container">
        <app-review-card></app-review-card>
        <app-review-card></app-review-card>
        <app-review-card></app-review-card>
        <app-review-card></app-review-card>
        <app-review-card></app-review-card>
        <app-review-card></app-review-card>
        <app-review-card></app-review-card>
        <app-review-card></app-review-card>
      </div>
    </div>
  </div>

  <app-footer-landing></app-footer-landing>
  
</ion-content>