<ion-header>
  <ion-toolbar>
    <div class="header-cont">

      <div class="header-start" slot="start">
        <div class="name-location">
          <h3 class="text-logo">{{nombreApp}}</h3>
        </div>
      </div>

      <div class="nav-items text-menu">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="/cards">Tarjetas</a></li>
        <li><a (click)="navegarASeccion('calidad')">Calidad</a></li>
        <li><a href="/about-us">Sobre nosotros</a></li>
        <li><a class="whatsapp" href="https://wa.me/573006380397" target="_blank">Whatsapp</a></li>
      </div>

      <div class="btn-nav">
        <ng-container *ngIf="!usuarioActual">
          <a class="signup-link" (click)="goToRegister()">Registrarse</a>
          <button class="btn-login" (click)="goToLogin()">Iniciar sesión</button>
        </ng-container>

        <ng-container *ngIf="usuarioActual">
          <ion-button fill="clear" class="boton-perfil" (click)="irAPerfil()">
            <div class="avatar-usuario">
              <span class="iniciales">{{ getIniciales() }}</span>
            </div>
          </ion-button>

          <div fill="clear" class="btn-logout" (click)="logout()">
            Cerrar sesión
          </div>
        </ng-container>
      </div>

    </div>
  </ion-toolbar>
</ion-header>
