.fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
  padding: 0 20px;
}
.container-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 418px;
  gap: 1.6rem;
  margin-top: 3.2rem;

  .input {
    width: 100%;

    --padding-start: 20px;
    --padding-end: 20px;
    --inner-padding-end: 0;
    --min-height: 68px;
    transition: all 0.3s ease;

    border-radius: 12px;

    border-radius: 12px;
    --background: #323232;
    box-shadow: 1px 1px 2px 0 rgba(62, 62, 62, 0.3),
      -1px -1px 2px 0 rgba(46, 46, 46, 0.5),
      -3px 3px 6px 0 rgba(46, 46, 46, 0.2) inset,
      3px -3px 6px 0 rgba(46, 46, 46, 0.2) inset,
      -3px -3px 6px 0 rgba(62, 62, 62, 0.9) inset,
      3px 3px 8px 0 rgba(46, 46, 46, 0.9) inset;

    ion-input {
      color: #6f6f6f;
      font-family: "Markazi Text";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      transition: color 0.3s ease;
    }

    &:hover {
      ion-input {
        color: #7f7f7f;
      }

      // Para los iconos SVG (img)
      .icon {
        filter: brightness(1.3);
        opacity: 0.8;
      }
    }

    &.item-has-focus {
      --background: #3a3a3a;

      ion-input {
        color: #9a9a9a;
      }

      .icon {
        filter: brightness(1.4);
      }
    }

    .icon {
      margin-right: 20px;
      font-size: 26px;
      min-width: 26px;
      display: flex;
      align-items: center;
      transition: all 0.3s ease;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none; /* iOS Safari */
      pointer-events: auto;
    }

    .toggle-password {
      color: var(--text-soft-dark-color);
      font-size: 26px;
      cursor: pointer;
      margin-left: 8px;
      transition: color 0.3s ease;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none; /* iOS Safari */
      pointer-events: auto;

      &:hover {
        color: #9a9a9a;
      }
    }

    .icon-wrapper {
      display: flex;
      align-items: center;
      margin-right: 20px;

      .mail-icon {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.container-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 418px;
  margin-top: 3.2rem;

  .forget-password {
    margin-top: 1.2rem;
  }
  .forget-password a {
    text-decoration: none;
    color: var(--text-white-color);
    text-align: center;
    font-family: "Markazi Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    pointer-events: auto;

    &:hover {
      color: var(--secundary-text-color);
    }
  }

  .register-button {
    margin-top: 1.6rem;
  }
}

.icons-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2.8rem;
  gap: 3.2rem;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  pointer-events: auto;
}
