<ion-content class="container-page">
  <div class="custom-background ">
    <div class="custom-background-dark">

      <div class="fields-container">

        <!-- Título o nombre de la app -->
        <h2 class="logo-app">Cardconi</h2>

        <div class="container-input">
          <!-- Campo de email -->
          <ion-item class="input" lines="none" name="email-input">
            <img class="icon" src="../../../../assets/media/login/email-outline.svg" name="email-outline"/>
            <ion-input type="email" placeholder="Escribe tu correo" [(ngModel)]="email" required></ion-input>
          </ion-item>

          <!-- Campo de contraseña -->
          <ion-item class="input" lines="none" name="password-input">
            <img class="icon" src="../../../../assets/media/login/key-outline.svg" name="key-outline"/>
            <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Escribe tu contraseña"
              [(ngModel)]="password" required>
            </ion-input>
            <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" class="toggle-password"
              (click)="togglePassword()">
            </ion-icon>
          </ion-item>
        </div>

        <div class="container-button">
          <div class="login-button" (click)="login()">
            <app-btn-primary-login></app-btn-primary-login>
          </div>

          <div class="forget-password">
            <a href="#">Olvidaste tu contraseña</a>
          </div>

          <div class="register-button" (click)="goToRegister()">
            <app-btn-secundary-login></app-btn-secundary-login>
          </div>
        </div>

       

      </div>
    </div>
  </div>
</ion-content>