<ion-footer class="container-footer">
  <div class="container-social-icons-footer">
    <img src="../../../../assets/media/footer/icon-instagram.png" alt="instagram" />
    <img src="../../../../assets/media/footer/icon-facebook.png" alt="facebook" />
    <img src="../../../../assets/media/footer/icon-tiktok.png" alt="tik tok" />
  </div>
  <div class="container-text-footer">
    <a>Términos y condiciones</a>
    <a>Política de privacidad</a>
    <p>©2025 todos los derechos reservados</p>
    <div class="container-pay-icons-footer">
      <img src="../../../../assets/media/footer/icon-mastercard.png" alt="mastercard" />
      <img src="../../../../assets/media/footer/icon-visa.png" alt="visa" />
      <img src="../../../../assets/media/footer/icon-americanExpress.png" alt="american express" />
      <img src="../../../../assets/media/footer/icon-dinnersClub.png" alt="diners club" />
    </div>
  </div>
</ion-footer>