<!-- botones superiores -->
<div class="container-btns-superiores">
  <div class="container-principal-btns">
    <div class="container-btn-type-card">
      <div class="container-btn-terciary">
        <button class="btn-terciary">Bancaría</button>
        <div class="shape-left"></div>
        <div class="shape-right"></div>
        <div class="shape-down"></div>
      </div>

      <div class="container-btn-terciary">
        <button class="btn-terciary">Presentación</button>
        <div class="shape-left"></div>
        <div class="shape-right"></div>
        <div class="shape-down"></div>
      </div>

      <div class="container-btn-terciary">
        <button class="btn-terciary">Personalizada</button>
        <div class="shape-left"></div>
        <div class="shape-right"></div>
        <div class="shape-down"></div>
      </div>
    </div>
  </div>

  <div class="container-filter">

  </div>
</div>