<div class="container-product-card">
    <div class="container-img"></div>
    <div class="text-tittle-card-product"{{ nameProduct }}></div>
    <div class="text-regular-card-product">{{ descriptionProduct }}</div>
    <div class="text-regular-card-product container-text-price">
        <div class="text-regular-price">$ <span>{{ price }}</span></div>
        <span class="text-bold-price">$ <span>{{ priceOfert }}</span></span>
    </div>
  
    <app-btn-plus></app-btn-plus>
    <app-input-dropdown-colors></app-input-dropdown-colors>
    <app-btn-primary></app-btn-primary>
</div>