<app-header-landing></app-header-landing>

<ion-content [fullscreen]="true" class="cards-page">
  <div class="container">

    <!-- botones superiores -->
    <div class="container-btns-superiores">
      <div class="container-principal-btns">
        <div class="container-btn-type-card">
          <div class="container-btn-terciary">
            <button class="btn-terciary">Bancaría</button>
          </div>

          <div class="container-btn-terciary">
            <button class="btn-terciary">Presentación</button>
          </div>

          <div class="container-btn-terciary">
            <button class="btn-terciary">Personalizada</button>
          </div>
        </div>

        <div class="container-btn-cart">
          <button class="btn-cart" name="cart-btn" (click)="goToCart()">
            <img class="icon" src="../../../../assets/media/cards/cart_duotone.svg" name="cart-icon" />
          </button>
          <!-- <div class="container-number-cart"><span class="number-cart">0</span></div> -->
        </div>

      </div>

      <div class="container-filter">

      </div>
    </div>

    <!-- Grid de productos -->
    <div class="products-container">
      <ion-card *ngFor="let product of products"  class="product-card">
        <!-- Imagen del producto -->
        <img [src]="product.image" [alt]="product.name" class="product-image" (click)="goToDetail()"  />

        <div class="content-text-card">
          <ion-card-content>
            <!-- titulo -->
            <h6 class="tittle-name-card-font ">{{ product.name }}</h6>

            <!-- Descripción -->
            <p class="product-description">{{ product.description }}</p>

            <!-- Precio -->
            <div class="container-price">
              <p class="product-price-offert">${{ product.price | number:'1.2-2' }}</p>
              <p class="product-price">${{ product.price | number:'1.2-2' }}</p>
            </div>

            <!-- Control de cantidad -->
            <div class="quantity-control">
              <ion-button fill="clear" size="small" (click)="decreaseQuantity(product.id)"
                [disabled]="selectedQuantities[product.id] <= 1">
                <img class="icon" src="../../../../assets/media/cards/minus-icon.svg" name="remove" />
              </ion-button>

              <span class="quantity-display">{{ selectedQuantities[product.id] }}</span>

              <ion-button fill="clear" size="small" (click)="increaseQuantity(product.id)"
                [disabled]="selectedQuantities[product.id] >= product.stock">
                <img class="icon" src="../../../../assets/media/cards/plus-icon.svg" name="add" />
              </ion-button>
            </div>

            <!-- Selector de color -->
            <div class="container-select-color">
              <ion-item lines="none" class="select-color">
                <ion-label>Seleccionar color</ion-label>
                <ion-select [(ngModel)]="selectedColors[product.id]" interface="popover" placeholder="Elige un color"
                  (ionChange)="onColorChange(product, $event.detail.value)">
                  <ion-select-option *ngFor="let color of product.availableColors" [value]="color">
                    {{ color }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <!-- Botón agregar al carrito -->
            <app-btn-primary class="add-to-cart-btn" (click)="addToCart(product)"></app-btn-primary>

          </ion-card-content>
        </div>
      </ion-card>
    </div>

    <!-- Botón ver más -->
    <div class="container-btn-see-more">
      <app-btn-see-more></app-btn-see-more>
    </div>
  </div>
</ion-content>