<div class="container-btn-flo">
  <div 
    class="container-text-flo" 
    [class.show]="showMessage"
    (mouseenter)="onTextMouseEnter()"
    (mouseleave)="onTextMouseLeave()">
    <span class="text-flo">{{ text }}</span>
    <div class="svg-text-flo">
      <img src="../../../../assets/media/generalIcons/svg-text-span.svg" alt="svg-text-span" />
    </div>
  </div>

  <button 
    class="btn-flo" 
    name="icon-whatsapp"
    (click)="openWhatsApp()"
    (mouseenter)="onButtonMouseEnter()"
    (mouseleave)="onButtonMouseLeave()">
    <img src="../../../../assets/media/generalIcons/icon-whatsapp.svg" alt="icon-whatsapp" />
  </button>
</div>