<app-header-landing></app-header-landing>

<ion-content [fullscreen]="true" container-page>
  <div class="container">
    <div class="fila margin-top">
      <div class="container-text">
        <h2 class="Ttile-about-us">
          ¿Qué hacemos?
        </h2>
        <p>Tarjeta diseñada por dsadasda jddnjndsjndajdnsahbdadahsbdhasbdhsadbashjbdsahjdbashjdbsdshdbshdbhsdbsahdbshdbsh</p>
      </div>
      <div class="container-ilustration">

      </div>
    </div>

    <div class="fila">
      <div class="container-ilustration">

      </div>
      <div class="container-text">
        <h2 class="Ttile-about-us">
          ¿Es confiable?
        </h2>
        <p>Tarjeta diseñada por dsadasda jddnjndsjndajdnsahbdadahsbdhasbdhsadbashjbdsahjdbashjdbsdshdbshdbhsdbsahdbshdbsh</p>
      </div>
    </div>

    <div class="fila">
      <div class="container-text">
        <h2 class="Ttile-about-us">
          ¿Funciona en cajeros automáticos y en todas partes, como datáfonos?
        </h2>
        <p></p>
      </div>
      <div class="container-ilustration">

      </div>
    </div>


    <div class="fila">
      <div class="container-ilustration">

      </div>
      <div class="container-text">
        <h2 class="Ttile-about-us">
          ¿Cómo funcionan las tarjetas NFC?
        </h2>
        <p></p>
      </div>
    </div>

    <div class="fila">
      <div class="container-text">
        <h2 class="Ttile-about-us">
          ¿Pedido y tiempos de entrega?
        </h2>
        <p></p>
      </div>
      <div class="container-ilustration">

      </div>
    </div>

    <div class="fila">
      <div class="container-ilustration">

      </div>
      <div class="container-text">
        <h2 class="Ttile-about-us">
          ¿Qué sucede si pierdo mi tarjeta o se vence?
        </h2>
        <p></p>
      </div>
    </div>

    <div class="fila">
      <div class="container-text">
        <h2 class="Ttile-about-us">
          ¿Qué puede colocarse en la parte trasera de la tarjeta?
        </h2>
        <p></p>
      </div>
      <div class="container-ilustration">

      </div>
    </div>

    <div class="fila">
      <div class="container-ilustration">

      </div>
      <div class="container-text">
        <h2 class="Ttile-about-us">
          ¿Puedo personalizar todo tipo de tarjetas?
        </h2>
        <p></p>
      </div>
    </div>

    <div class="fila">
      <div class="container-text">
        <h2 class="Ttile-about-us">
          Quiero un diseño totalmente personalizado para mi o mi empresa
        </h2>
        <p></p>
      </div>
      <div class="container-ilustration">

      </div>
    </div>

    <div class="fila">
      <div class="container-ilustration">

      </div>
      <div class="container-text">
        <h2 class="Ttile-about-us">
          ¿Pedidos al por mayor?
        </h2>
        <p>Tarjeta diseñada por dsadasda jddnjndsjndajdnsahbdadahsbdhasbdhsadbashjbdsahjdbashjdbsdshdbshdbhsdbsahdbshdbsh</p>
      </div>
    </div>

    <div class="fila margin-top-2">
      <div class="container-text-2">
        <h2 class="Ttile-about-us">
          Política de reembolso
        </h2>
        <p>Tarjeta diseñada por dsadasda jddnjndsjndajdnsahbdadahsbdhasbdhsadbashjbdsahjdbashjdbsdshdbshdbhsdbsahdbshdbsh</p>
      </div>
    </div>

    <div class="fila  margin-top-2 margin-bottom">
      <div class="container-text-2">
        <h2 class="Ttile-about-us">
          Política de privacidad y términos y condiciones
        </h2>
        <p>Tarjeta diseñada por dsadasda jddnjndsjndajdnsahbdadahsbdhasbdhsadbashjbdsahjdbashjdbsdshdbshdbhsdbsahdbshdbsh</p>
      </div>
    </div>

  </div>
</ion-content>