.container-btn-cart {
  position: relative;
  width: 80px;
  height: auto;
  flex-shrink: 0;

  border-radius: 14px;
  overflow: hidden;

  .btn-cart {
    width: 100%;
    height: 46px;
    flex: 1;

    border-radius: 14px;
    border: 1.7px solid rgba(232, 232, 232, 0.4);
    background: linear-gradient(
      110deg,
      rgba(255, 255, 255, 0.36) 0.2%,
      rgba(217, 217, 217, 0.12) 101.11%
    );
    box-shadow: 23px 23px 34px 0 rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(26px);
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.04);
      background: radial-gradient(
        77.98% 110.3% at 17.62% 34.98%,
        rgba(250, 235, 215, 0.4) 0%,
        rgba(148, 139, 127, 0.4) 100%
      );
    }

    &:active {
      transform: scale(0.99);
      border-radius: 12px;
      background: radial-gradient(
        77.98% 110.3% at 17.62% 34.98%,
        rgba(250, 235, 215, 0.7) 0%,
        rgba(148, 139, 127, 0.7) 100%
      );
    }
  }

  .shape-left-cart {
    position: absolute;

    width: 13px;
    height: 30px;
    flex-shrink: 0;

    top: 56%;
    left: 13%;
    transform: translate(-50%, -50%);

    border-radius: 2px;
    background: #b3b3b3;
    filter: blur(24px);

    transition: background 0.3s ease; // Transición suave
    pointer-events: none; // No interfiere con los clicks

    z-index: 0;
  }

  .shape-right-cart {
    position: absolute;

    width: 13px;
    height: 30px;
    flex-shrink: 0;

    top: 56%;
    right: 0;
    transform: translate(-50%, -50%);

    border-radius: 2px;
    background: #b3b3b3;
    filter: blur(24px);

    transition: background 0.3s ease; // Transición suave
    pointer-events: none; // No interfiere con los clicks

    z-index: 0;
  }

  .container-number-cart {
    position: absolute;
    top: -4px;
    right: -4px;

    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 100%;

    background-color: var(--secundary-color);

    display: flex;
    align-items: center;
    justify-content: center;

    .number-cart::before {
      color: var(--text-color);
      text-align: center;
      font-family: "Work Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.56px;
    }
  }
}
