<div class="container-review-card">
  <div class="container-blur">
    <div class="container-inter">
      <div class="container-img"></div>
      <div class="container-tittle-card-review">
        <div class="container-name">

          <div class="text-tittle-card-review ">{{ nameUser }}</div>
        </div>
        <div class="text-regular-card-review">{{ review }}</div>
      </div>
    </div>
  </div>
  <div class="shape-inter-review-card-2"></div>
  <div class="shape-inter-review-card-1"></div>
</div>