/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/////variables
:root {
  --primary-color: #1c1c1c;
  --secundary-color: #ffad40;
  --terciary-color: #e1ba86;

  --background-color: #ffffff;
  --background-soft-white-color: #f5f5f5;
  --background-ligth-white-color: #f7f7f7;
  --background-dark-color: #1c1c1c;

  --icon-color: #292929;

  --text-color: #2f2f2f;
  --text-soft-dark-color: #4c4c4c;
  --text-soft-color: #818181;
  --text-ligth-color: #d2d2d2;

  --secundary-text-color: #faebd7;
  --impact-text-color: #f3dcbe;
  --text-white-color: #fbf9f6;
  --text-header-color: #f8f6f0;
  --text-green-color: #cae4b4;
  --red-color: #df5353;

  /* VARIABLES DE INPUT */
  --input-hover-color: #7f7f7f;
  --input-focus-color: #9a9a9a;
  --input-background-color: #323232;
  --input-border-radius: 12px;
  --input-box-shadow: 1px 1px 2px 0 rgba(62, 62, 62, 0.3),
    -1px -1px 2px 0 rgba(46, 46, 46, 0.5),
    -3px 3px 6px 0 rgba(46, 46, 46, 0.2) inset,
    3px -3px 6px 0 rgba(46, 46, 46, 0.2) inset,
    -3px -3px 6px 0 rgba(62, 62, 62, 0.9) inset,
    3px 3px 8px 0 rgba(46, 46, 46, 0.9) inset;
  --transition: all 0.2s ease;
  --input-font-size: 24px;
  --input-text-color: #6f6f6f;
  --input-font-weight: 600;
  --input-font-style: normal;
  --input-line-height: normal;
  --input-font-family: "Markazi Text";
  --input-with-field: 100%;
  --input-height: 68px;
  --input-placeholder-color: #6f6f6f;
  --input-border-color: #656565;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

/* Primary tittle font*/
h1 {
  color: var(--text-white-color);
  font-family: "EB Garamond";
  font-size: 98px; //pc p 90px
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 7px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  pointer-events: auto;
}

/* Secundary tittle font*/
h2 {
  color: var(--text-color);
  font-family: "Markazi Text";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  pointer-events: auto;
}

/* DecoLine font */
h3 {
  color: var(--secundary-text-color);
  font-family: "Monsieur La Doulaise";
  font-size: 44px; //pc p 40px
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  pointer-events: auto;
}

/* terciary font */
h4 {
  color: var(--text-ligth-color, #d2d2d2);
  text-align: center;
  font-family: "Markazi Text";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h5 {
}

.text-menu {
  color: var(--text-header-color);
  text-align: center;

  /* Text menu */
  font-family: Lora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
}

.logo-app {
  margin-top: 5.4rem;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(99, 99, 99, 0.25);
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #000;
  font-family: "Vollkorn SC";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: linear-gradient(90deg, #a9a9a9 0%, #959595 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} /*  */

.container-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
}

.custom-background-dark {
  background-image: url("../src/assets/media/background/background-dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.custom-background-dark-filter {
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.custom-toast {
  position: relative;
  background-color: var(--red-color);
  border-radius: 12px;
}

/* Pantallas ultra anchas (1601px+) */
@media (min-width: 1601px) {
}

/* Desktop grande (1401px - 1600px) */
@media (min-width: 1401px) and (max-width: 1600px) {
}

/* Desktop mediano (1201px - 1400px) */
@media (min-width: 1201px) and (max-width: 1400px) {
}

/* Desktop pequeño (1025px - 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* Para dispositivos táctiles - eliminar hover en móviles */
@media (hover: none) and (pointer: coarse) {
}

/* Tablet (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Mobile mediano (480px - 768px) */
@media (min-width: 480px) and (max-width: 768px) {
}

/* Mobile pequeño (360px - 479px) */
@media (min-width: 360px) and (max-width: 479px) {
}

/* Mobile extra pequeño (320px - 359px) */
@media (max-width: 359px) {
}
